<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 pt-70">
              <h2>découvrez nos activités</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <section class="team-area fix mt-4">
    <div class="container">
      <div class="row">
  
        <mat-grid-list cols="4" rowHeight="40rem" style="padding-right: 5%;">
          <mat-grid-tile *ngFor="let activity of activities">
  
            <div class="single-cat text-center wow fadeInUp mr-10" data-wow-duration="1s" data-wow-delay=".2s">
              <div class="cat-icon" style="padding-left: 2%;">
                <img [src]="getImage(activity.actImage)" width="430" height="320" alt="">
              </div>
              <div class="cat-cap" style="padding-bottom: 5%;">
                <h1 class="item-style text-white" (click)="goToActivityDetails(activity.actId)">{{ activity.actName }}</h1>
              </div>
            </div>
  
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </section>
  
  

