<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper d-flex align-items-center justify-content-between">
          <!-- Logo -->
          <div class="logo">
            <a routerLink=""><img src="assets/img/logo/logo.png" alt=""></a>
          </div>
          <!-- Main-menu -->
          <div class="main-menu f-right d-none d-lg-block">
            <nav>
              <ul id="navigation">
                <li><a routerLink="">Accueil</a></li>
                <li><a href="#">Découvrez-nous</a></li>
                <li><a routerLink="sessions">Nos Classes</a></li>
                <li><a routerLink="coaches">Nos Coaches</a></li>
                <li><a routerLink="categories">Nos Catégories</a></li>
                <li><a routerLink="offers">Nos Tarifs</a></li>
                <li><a href="#">Album</a></li>
                <li><a routerLink="profile">Contactez-nous</a></li>
                <li><button type="button" routerLink="login" class="border-btn" style=" width: 200px">Se Connecter</button></li>
              </ul>
            </nav>
          </div>

          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
