button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px #dc3545;
  transition: 0.4s;
}

.img-profile
{
  cursor: pointer;
}

.log {
  color: #dc3545;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #dc3545;
}

button:hover {
  color: white;
  box-shadow: 0 0 20px #dc3545;
  background-color: red;
}

.menu-item
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.dropdown-item
{
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
}

.dropdown-item:hover
{
  background-color: silver;
  border-radius: 0.5rem;
  width: fit-content;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute; 
  top: 0;
  right: 0;
}

.position_relative{
  position: relative;
}

.top_right
{
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-size: 10px;
}

.notification-title
{
	color: #aa3333;
	font-size: 15px;
}

.notification-content
{
  font-size: 13px; 
  color:#1d0000;
}