<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #950101;">

    <div class="logo ml-3 mb-2">
      <a routerLink=""><img src="assets/img/logo/logo.png" alt=""></a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="width: auto; background-color: #950101;">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0,0,256,256" style="fill:#000000;">
        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M6,22h36v4h-36zM6,10h36v4h-36zM6,34h36v4h-36z"></path></g></g>
      </svg>
    </button>

    <div class="collapse navbar-collapse justify-content-end mr-3" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link menu-item text-white" routerLink="/">Accueil</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link menu-item text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Entraînement
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #FFFFFF;">
            <a class="dropdown-item" routerLink="sessions" style="font-size: 13px;color:#1d0000;"><h4>Classes</h4></a>
            <a class="dropdown-item notification-content" routerLink="coaches"><h4>Coaches</h4></a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link menu-item text-white" routerLink="categories">Catégories</a>
        </li>

       <li class="nav-item">
          <a class="nav-link menu-item text-white" routerLink="activities">Activités</a>
        </li>

        <li class="nav-item">
          <a class="nav-link menu-item text-white" routerLink="offers">Tarifs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link menu-item text-white" routerLink="about-us">Contactez-nous</a>
        </li>


        <li class="nav-item dropdown" *ngIf="userIsLoggedIn">
          <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="position_relative mr-3 ml-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 448 512"><path fill="#fff" d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/></svg>
              <span class="top_right" *ngIf="userIsLoggedIn && userNotifications">{{ userNotifications.length }}</span>
            </div>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="dropdown-item" *ngFor="let notification of userNotifications">
              <h4 class="notification-title">{{notification.notificationTitle}}</h4>
              <h5 class="notification-content">{{notification.notificationContent}}</h5>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="userIsLoggedIn">
          <a class="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="user-avatar img-profile">
              <img height="30" width="30" alt="profile picture" [src]="getImage(user.userPicture)" class="rounded-circle">
              <span class="text-white text-bold text-uppercase ml-3" style="font-size: small;">{{ user.userFirstName }} {{ user.userLastName }}</span>
            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #FFFFFF;">
            <a class="dropdown-item notification-content" routerLink="profile"><h4>Profil</h4></a>
            <a class="dropdown-item cursor-pointer notification-content" (click)="logout()"><h4>Se déconnecter</h4></a>
          </div>
        </li>

        <li class="nav-item" *ngIf="!userIsLoggedIn"><button type="button" routerLink="login" class="border-btn" style=" width: 200px">Se Connecter</button></li>
      </ul>
    </div>
</nav>
</header> -->
<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
      <div class="main-header header-sticky sticky-bar">
          <div class="container-fluid">
              <div class="menu-wrapper d-flex align-items-center justify-content-between">
                  <!-- Logo -->
                  <div class="logo">
                      <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                  </div>
                  <!-- Main-menu -->
                  <div class="main-menu f-right d-none d-lg-block">
                      <nav>
                          <ul id="navigation">
                              <li><a routerLink="/">Accueil</a></li>
                              <li>
                                <a style="cursor: pointer;">Entraînement</a>
                                <ul class="submenu">
                                    <li><a routerLink="sessions">Séances</a></li>
                                    <li><a routerLink="coaches">Coaches</a></li>
                                </ul>
                              </li>
                              <li><a routerLink="categories">Catégories</a></li>
                              <li><a routerLink="activities">Activités</a></li>
                              <li><a routerLink="offers">Offres</a></li>
                              <li><a routerLink="about-us">Contactez-nous</a></li>
                          </ul>
                      </nav>
                  </div>          
                  <!-- Header-btn -->

                <div class="main-menu f-right d-none d-lg-block">
                  <a routerLink="login" class="btn" *ngIf="!userIsLoggedIn">se connecter</a>
                  
                  <div class="dropdown">
                    <a class="nav-link dropbtn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="user-avatar img-profile">
                        <img height="30" width="30" alt="profile picture" [src]="getImage(user.userPicture)" class="rounded-circle">
                        <span class="text-white text-bold text-uppercase ml-3" style="font-size: small;">{{ user.userFirstName }} {{ user.userLastName }}</span>
                      </div>
                    </a>

                    <div class="dropdown-content" *ngIf="userIsLoggedIn">
                      <a routerLink="profile">Profil</a>
                      <a (click)="logout()">Se déconnecter</a>
                    </div>
                  </div>                 
                </div>

                 <!-- Mobile Menu -->
                 <div class="col-12">
                      <div class="mobile_menu d-block d-lg-none">
                          <div class="slicknav_menu">
                              <a aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;" (click)="openOrCloseMenu()">
                                  <span class="slicknav_menutxt">MENU</span>
                                  <span class="slicknav_icon">
                                      <span class="slicknav_icon-bar"></span>
                                      <span class="slicknav_icon-bar"></span>
                                      <span class="slicknav_icon-bar"></span>
                                  </span>
                              </a>
                              <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;" id="humbergerMenu">
                                  <li><a routerLink="/">Accueil</a></li>
                                  <li class="slicknav_parent slicknav_collapsed">
                                    <a role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;">
                                        <a tabindex="-1" (click)="openOrCloseMenu('blogMenu')">Blog</a>
                                        <span class="slicknav_arrow" (click)="openOrCloseMenu('blogMenu')">+</span>
                                    </a>
                                    <ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;" id="blogMenu">
                                        <li><a role="menuitem" tabindex="-1" routerLink="sessions">Séances</a></li>
                                        <li><a role="menuitem" tabindex="-1" routerLink="coaches">Coaches</a></li>
                                    </ul>
                                </li>
                                  <li><a routerLink="categories" role="menuitem" tabindex="-1">Catégories</a></li>
                                  <li><a routerLink="activities" role="menuitem" tabindex="-1">Activités</a></li>
                                  <li><a routerLink="offers" role="menuitem" tabindex="-1">Offres</a></li>
                                  <li><a routerLink="about-us" role="menuitem" tabindex="-1">Contactez-nous</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
          </div>
      </div>
  </div>
</div>
<!-- Header End -->
</header>