<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper d-flex align-items-center justify-content-between">
          <!-- Logo -->
          <div class="logo">
            <a routerLink=""><img src="assets/img/logo/logo.png" alt=""></a>
          </div>
          <!-- Main-menu -->
          <div class="main-menu f-right d-none d-lg-block">
            <nav>
              <ul id="navigation">
                <li><a routerLink="">Accueil</a></li>
                <li><a routerLink="sessions">Nos Classes</a></li>
                <li><a routerLink="coaches">Nos Coaches</a></li>
                <li><a routerLink="categories">Nos Catégories</a></li>
                <li><a routerLink="activities">Nos Activités</a></li>
                <li><a routerLink="offers">Nos Tarifs</a></li>
                <li><a routerLink="about-us">Contactez-nous</a></li>
                <li><a href="#">Album</a></li>
                <li *ngIf="userIsLoggedIn">
                  <div class="account-settings">
                    <div class="user-profile">
                      <div class="user-avatar img-profile">
                        <img height="50" width="50" alt="profile picture" [src]="getImage(user.userPicture)" class="rounded-circle">
                        <span class="text-white text-bold text-uppercase ml-3" style="font-size: small;">{{ user.userFirstName }} {{ user.userLastName }}</span>
                      </div>
                      
                    </div>
                    
                  </div>
                  <ul class="submenu">
                    <li><a routerLink="profile">Profil</a></li>
                    <li><a (click)="logout()" class="cursor-pointer">Se déconnecter</a></li>
                  </ul>
                </li>
                <li *ngIf="!userIsLoggedIn"><button type="button" routerLink="login" class="border-btn" style=" width: 200px">Se Connecter</button></li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
