
<!-- Start -->
<div class="slider-area2">
  <div class="slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap hero-cap2 pt-70">
            <h2>Tarification</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start -->


<!-- Courses area start -->
<section class="pricing-area section-padding30 fix">
  <div class="container">

    <div class="row">

      <mat-grid-list cols="4" rowHeight="1:2" >
        <mat-grid-tile *ngFor="let offer of offers; let i = index">


          <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
            <div class="properties__card">

              <p class="color-white text-size">Abonnement de {{ offer.offerActivity.actName }}</p>

              <img [src]="getImage(offer.offerActivity.actImage)" width="275" height="155" alt="">

              <div class="properties__caption">
                <span class="month">{{ offer.offerPeriod }} Mois</span>
                <p class="mb-25">{{ offer.offerPrice }} TND</p>

                <div class="single-features" *ngFor="let option of offer.offerOption">
                  <div class="features-icon">
                    <img src="assets/img/icon/check.svg" alt="" height="13" width="18">
                  </div>
                  <div class="features-caption">
                    <p>{{ option.optionName }} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-grid-tile>

      </mat-grid-list>

    </div>
  </div>
</section>

