

<section class="pricing-area section-padding30 fix">

  <div class="container">
    <div class="row gutters">
      <h3 class="mb-6 ml-3 mt-3 text-white">Profil</h3>
      <div class="d-flex justify-content-around">
          <div class="card-profile">
            <span class="topright">
              <svg xmlns="http://www.w3.org/2000/svg" (click)="inputFile.click()" class="rounded-circle" height="24.5" viewBox="0 -960 960 960" width="21.5"><path fill="white" d="M480-260q75 0 127.5-52.5T660-440q0-75-52.5-127.5T480-620q-75 0-127.5 52.5T300-440q0 75 52.5 127.5T480-260Zm0-80q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM160-120q-33 0-56.5-23.5T80-200v-480q0-33 23.5-56.5T160-760h126l74-80h240l74 80h126q33 0 56.5 23.5T880-680v480q0 33-23.5 56.5T800-120H160Zm0-80h640v-480H638l-73-80H395l-73 80H160v480Zm320-240Z"/></svg>
            </span>
            <img [src]="getImage(user.userPicture)" (click)="displayImages(user.userPicture, true)" alt="Avatar" width="100%" class="img-profile">
          </div>


          <div class="container-profile text-start">
            <h3 class="profile-information mt-6"><strong>Nom & Prénom: {{ user.userLastName }} {{ user.userFirstName }}</strong></h3>
            <h3 class="profile-information mt-3"><strong>Rôle: {{ accountType }}</strong></h3>
          </div>
        </div>




      <input type="file" id="profilePicture" #inputFile (change)="onFileSelected($event)" hidden>


      <form [formGroup]="profileFormValue" class="mt-5">

        <div class="card h-100">
          <div class="card-body">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="mb-3 text-white">Informations personnelles</h3>
              </div>

              <div class='parent-cell'>

                <div class="form-group child-cell">
                  <label for="userFirstName" class="text-fonts mr-5">Prénom</label>
                  <input type="text" class="form-control text-input" pattern="^[A-Za-zéèçïîô ]*[A-Za-zéèçïîô ][A-Za-zéèçïîô ]*$" formControlName="userFirstName" id="userFirstName" placeholder="Saisir prénom" [value]="user.userFirstName">
                  <h5 class="text-danger text-bold ml-1 mt-1" *ngIf="profileFormValue.controls['userFirstName'].invalid && profileFormValue.controls['userFirstName'].touched">Merci de saisir un prénom valide</h5>
                </div>

                <div class="form-group child-cell">
                  <label for="userLastName" class="text-fonts">Nom</label>
                  <input type="email" class="form-control text-input" pattern="^[A-Za-zéèçïîô ]*[A-Za-zéèçïîô ][A-Za-zéèçïîô ]*$" formControlName="userLastName" size="50" id="userLastName" placeholder="Saisir votre nom">
                 <h5 class="text-danger text-bold ml-1 mt-1" *ngIf="profileFormValue.controls['userLastName'].invalid && profileFormValue.controls['userLastName'].touched">Merci de saisir un nom valide</h5>
                </div>

                <div class="form-group child-cell">
                  <label for="userGender" class="text-fonts">Sexe</label>
                  <select  class="form-control text-fonts text-input text-black" id="userGender" formControlName="userGender">
                    <option class="text-black" selected>Merci de choisir sexe</option>
                    <option class="text-black">Homme</option>
                    <option class="text-black">Femme</option>
                  </select>
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userGender'].getRawValue() === 'Merci de choisir sexe' && profileFormValue.controls['userGender'].touched">Merci de choisir un sexe</h5>
                </div>

              </div>

              <div>
                <div class="form-group">
                  <label for="userDescription" class="text-fonts">Bio</label>
                  <textarea type="text" class="form-control text-input" id="userDescription" placeholder="Saisir votre description(Bio)" formControlName="userDescription"></textarea>
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userDescription'].invalid && profileFormValue.controls['userDescription'].touched">Merci de saisir une description</h5>
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userDescription'].touched && profileFormValue.controls['userDescription'].value && profileFormValue.controls['userDescription'].getRawValue().length > 255">Le nombre maximum des caractères c'est 255</h5>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="userBirthDate" class="text-fonts">Date de naissance</label>
                  <input type="date" class="form-control text-input" id="userBirthDate" formControlName="userBirthDate" [max]="maxDateInput">
                  <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userBirthDate'].invalid && profileFormValue.controls['userBirthDate'].touched">Merci de choisir une date de naissance</h5>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group text-fonts">
                  <label for="userPhoneNumber" class="text-fonts">Téléphone</label>
                  <input type="text" class="form-control text-input" maxlength="8" id="userPhoneNumber" pattern="^[0-9]*$" placeholder="Saisir votre numéro de téléphone" formControlName="userPhoneNumber">
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userPhoneNumber'].invalid && profileFormValue.controls['userPhoneNumber'].touched">Merci de saisir un numéro valide</h5>
                </div>
              </div>

            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="mb-3 text-white">Adresse</h3>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="userCountry" class="text-fonts">Pays</label>
                  <input type="text" class="form-control text-input" pattern="^[A-Za-zéèçïîô ]*[A-Za-zéèçïîô ][A-Za-zéèçïîô ]*$" id="userCountry" formControlName="userCountry" placeholder="Saisir votre pays">
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userCountry'].invalid && profileFormValue.controls['userCountry'].touched">Merci de saisir un pays valide</h5>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group text-fonts">
                  <label for="userState" class="text-fonts">État</label>
                  <input type="text" class="form-control text-input" pattern="^[A-Za-zéèçïîô ]*[A-Za-zéèçïîô ][A-Za-zéèçïîô ]*$" id="userState" placeholder="Saisir votre état" formControlName="userState">
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userState'].invalid && profileFormValue.controls['userState'].touched">Merci de saisir un État valide</h5>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group text-fonts">
                  <label for="userCity" class="text-fonts">Ville</label>
                  <input type="text" class="form-control text-input" pattern="^[A-Za-zéèçïîô ]*[A-Za-zéèçïîô ][A-Za-zéèçïîô ]*$" id="userCity" placeholder="Saisir votre ville" formControlName="userCity">
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userCity'].invalid && profileFormValue.controls['userCity'].touched">Merci de saisir un nom valide</h5>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group text-fonts">
                  <label for="userZipCode" class="text-fonts">Code postal</label>
                  <input type="text" class="form-control text-input" pattern="^[0-9]*$" id="userZipCode" placeholder="Saisir votre code postal" formControlName="userZipCode">
                 <h5 class="text-danger text-bold ml-2" *ngIf="profileFormValue.controls['userZipCode'].invalid && profileFormValue.controls['userZipCode'].touched">Merci de saisir un numéro valide</h5>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group text-fonts">
                  <label for="userHeight" class="text-fonts">Taille</label>
                  <input type="text" class="form-control text-input" pattern="^[0-9]*$" maxlength="3" id="userHeight" placeholder="Saisir votre taille en cm" formControlName="userHeight">
                 <h5 class="text-danger text-bold ml-2" *ngIf="(profileFormValue.controls['userHeight'].invalid && profileFormValue.controls['userHeight'].touched) || profileFormValue.controls['userHeight'].getRawValue() === '0' ">Merci de saisir un taille valide</h5>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group text-fonts">
                  <label for="userWeight" class="text-fonts">Poids</label>
                  <input type="text" class="form-control text-input" pattern="^[0-9]*$" maxlength="3" id="userWeight" placeholder="Saisir votre code poids en kg" formControlName="userWeight">
                 <h5 class="text-danger text-bold ml-2" *ngIf="(profileFormValue.controls['userWeight'].invalid && profileFormValue.controls['userWeight'].touched) || profileFormValue.controls['userWeight'].getRawValue() === '0' ">Merci de saisir un poids valide</h5>
                </div>
              </div>
            </div>
            <div>
              <button type="button" id="updateButton" (click)="updateProfile()" class="border-btn" >Modifier mes informations</button>
            </div>
          </div>
      </div>

      </form>

      <div class="card h-100 mt-5">
        <div class="mb-5 ps-3">
          <h2 class="mb-1 text-white">Mes Classes</h2>

          <div class="mt-50" >
            <div class="d-flex justify-content-center" *ngIf="!userSessionDataSource || userSessionDataSource.data.length === 0"> <!-- *ngIf="!userSessions || userSessions.length === 0" -->
              <h2 class="text-center text-white">Vous n'aviez pas participé à aucun cours</h2>
            </div>

            <div class="main-body" *ngIf="userSessionDataSource && userSessionDataSource.data.length !== 0">
              <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="userSessionDataSource">

                    <!-- Image Column -->
                    <ng-container matColumnDef="Image">
                      <th mat-header-cell *matHeaderCellDef>Image</th>
                      <td mat-cell *matCellDef="let session">
                        <img [src]="getImage(session.sessionImage)" class="avatar avatar-sm me-3 border-radius-lg activity-image" alt="Session Image" (click)="showSessionDetails(session.sessionId)">
                      </td>
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="Titre">
                      <th mat-header-cell *matHeaderCellDef  class="text-center">Titre</th>
                      <td mat-cell *matCellDef="let session" class="text-center">{{session.sessionName}}</td>
                    </ng-container>

                     <!-- Activity Column -->
                     <ng-container matColumnDef="Activité">
                      <th mat-header-cell *matHeaderCellDef  class="text-center">Activité</th>
                      <td mat-cell *matCellDef="let session" class="text-center">{{session.sessionActivity.actName}}</td>
                    </ng-container>

                    <!-- Activity Column -->
                    <ng-container matColumnDef="Coach">
                      <th mat-header-cell *matHeaderCellDef  class="text-center">Coach</th>
                      <td mat-cell *matCellDef="let session" class="text-center">{{session.sessionCoach.userFirstName + " " + session.sessionCoach.userLastName}}</td>
                    </ng-container>

                      <!-- Price Column -->
                      <ng-container matColumnDef="Places Réservées">
                        <th mat-header-cell *matHeaderCellDef  class="text-center" >Places Réservées</th>
                        <td mat-cell *matCellDef="let session" class="text-center">{{session.sessionReservedPlaces}}/{{session.sessionTotalPlaces}}</td>
                      </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Gestion">
                      <th mat-header-cell *matHeaderCellDef  class="text-center" style="margin-left: -5%;">Gestion</th>
                      <td mat-cell *matCellDef="let session" class="text-center">
                        <span class="activity-image" (click)="showSessionDetails(session.sessionId)"><img src="assets/img/icon/details-icon.png" height="21" width="20" class="mr-3 mb-1"><span class="details-design">Détails</span></span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="card h-100 mt-5">
        <div class="mb-5 ps-3">
          <h2 class="mb-1 text-white">Mon album</h2>

          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3" style="position: absolute; right: 0">
            <div class="nav-wrapper position-relative end-0" >
              <button type="button" class="border-btn" (click)="addImages()">Ajouter des images</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3" style="position: absolute; left: 0">
            <div class="nav-wrapper position-relative end-0" >
              <button type="button" class="border-btn" (click)="displayImages(userImages, false)">Aperçu les images</button>
            </div>
          </div>
        </div>
        <div class="mt-50">
          <div class="d-flex justify-content-center" *ngIf="(!userImages) || (userImages.length === 0)">
            <h2 class="text-center text-white">Vous n'avez pas encore des photos</h2>
          </div>

          <mat-grid-list cols="4" rowHeight="2:1" *ngIf="(userImages) && (userImages.length != 0)">
            <mat-grid-tile *ngFor="let image of userImages">
              <app-card-flip [imageName]=image.imageName [classId]=user.userId (onDataChange)="detectChanges($event)"></app-card-flip>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

      </div>
    </div>
  </div>
</section>





