<div style="background-color: #0b0b0b">

  <div class="position-relative">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height d-inline-flex p-2 align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-10">
              <div class="hero__caption" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <form #loginForm="ngForm" >
    <h1 class="text-white">Mot de passe oublié</h1>
    <div>
        <label for="email">E-Mail</label>
        <input type="text" class="input-type" [disabled]="!isSendingEmailOperation" placeholder="Saisir votre adresse E-mail" id="email" name="email" ngModel #email="ngModel" required email>
        <span class="error" *ngIf="email.touched">
          <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="email.errors?.['required']">Le champs email est obligatoire</h5>
          <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="email.errors?.['email']">Merci de saisir un email valide</h5>
        </span>
    </div>

    <div *ngIf="isSendingCodeOperation">
      <label for="code">Code de vérification</label>
      <input type="text" class="input-type" placeholder="Saisir le code envoyé par E-mail" id="code" name="code" ngModel #code="ngModel" required (keyup)="confirmationCode = code.control.getRawValue()">
      <span class="error" *ngIf="code.touched">
      <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="code.errors?.['required']">Merci de remplir ce chapms</h5>
      <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="code.control.getRawValue().length > 6">Merci de saisir 6 caractères maximum</h5>
      <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="!isDigit() && code.control.getRawValue().length > 0">Merci de saisir uniquement des chiffres</h5>
    </span>
    </div>

    <div *ngIf="isSendingPasswordOperation">
      <label for="password">Mot de passe</label>
      <input type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder="Saisir votre nouveau mot de passe" class="input-type" id="password" name="password" ngModel #password="ngModel" required (keyup)="passwordValue = password.control.getRawValue()">
      <span class="error" *ngIf="password.touched">
        <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="password.errors?.['required']">Le champs mot de passe est obligatoire</h5>
        <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="!password.errors?.['required'] && password.value.length < 6">Merci de saisir 6 caractères en minimum</h5>
      </span>
    </div>

    <div *ngIf="isSendingPasswordOperation">
      <label for="newPassword">Nouveau mot de passe</label>
      <input type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder="Retaper votre nouveau mot de passe" class="input-type" id="newPassword" name="newPassword" ngModel #confirmPassword="ngModel" required (keyup)="confirmPasswordValue = confirmPassword.control.getRawValue()">
      <span class="error mb-20" *ngIf="confirmPassword.touched">
        <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="confirmPassword.errors?.['required']">Le champs mot de passe est obligatoire</h5>
        <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="!confirmPassword.errors?.['required'] && confirmPassword.value.length < 6">Merci de saisir 6 caractères en minimum</h5>
        <h5 class="text-danger text-bold ml-1" style="margin-top: 2%;" *ngIf="!isIdenticalPasswords()">Les mots de passe saisis non identiques</h5>
      </span>
    </div>

    <div class="mt-20" *ngIf="isSendingPasswordOperation">
      <input type="checkbox" id="showPass" name="showPass" width="20px" height="110px" class="accent-color checkbox" (click)="togglePasswordVisibility()"/>
      <span> Afficher les mot de passe</span><br>
    </div>

    <button (click)="sendVerificationCode(loginForm)" *ngIf="isSendingEmailOperation" [disabled]="loginForm.invalid">Envoyer le code</button>
    <button (click)="checkVerificationCode(loginForm)" *ngIf="isSendingCodeOperation" [disabled]="loginForm.invalid">Vérifier le code</button>
    <button (click)="changePassword(loginForm)" *ngIf="isSendingPasswordOperation" [disabled]="loginForm.invalid">Changer le mot de passe</button>

  </form>


</div>
