/* You can add global styles to this file, and also import other style files */

.fc-event-style
{
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.enableBlur>*{
  filter: blur(12px);
  pointer-events: none;
}

.disableBlur{
  filter: blur(0);
  pointer-events: auto;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-white {
  color: white;
}

.accent-color {
  accent-color: #dc3545;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer{
  cursor: pointer;
}

.border-radius-10{
  border-radius: 10px;
}
