

  <!--? slider Area Start-->
  <div class="slider-area position-relative">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height d-inline-flex p-2 align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-10">
              <div class="hero__caption" >
                <span data-animation="fadeInLeft" data-delay="0.1s">Bienvenue chez notre</span>
                <h1 data-animation="fadeInLeft" data-delay="0.4s">Gym Centre</h1>
                <a href="#" class="border-btn hero-btn" data-animation="fadeInLeft" data-delay="0.8s">Nos Classes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->



  <!-- Training categories Start -->
  <section class="traning-categories black-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="single-topic text-center mb-30">
            <div class="topic-img">
              <img src="assets/img/gallery/cat1.png" alt="">
              <div class="topic-content-box">
                <div class="topic-content">
                  <h3>Personal training</h3>
                  <p>You’ll look at graphs and charts in Task One, how to approach the task and <br> the language needed for a successful answer.</p>
                  <a href="#" class="border-btn">View Courses</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="single-topic text-center mb-30">
            <div class="topic-img">
              <img src="assets/img/gallery/cat2.png" alt="">
              <div class="topic-content-box">
                <div class="topic-content">
                  <h3>Group training</h3>
                  <p>You’ll look at graphs and charts in Task One, how to approach the task and <br> the language needed for a successful answer.</p>
                  <a href="#" class="btn">View Courses</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Training categories End-->

  <!-- Trainers  -->
  <section class="team-area fix">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-tittle text-center mb-55 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <h2 >Nos Coaches</h2>
          </div>
        </div>
      </div>
      <div class="row">

        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let coach of coaches">
            <ng-template carouselSlide >

                <div class="single-cat text-center mb-30 wow fadeInUp mr-3" data-wow-duration="1s" data-wow-delay=".2s"  >
                  <div class="cat-icon">
                    <img [src]="getImage(coach.userPicture)" alt="">
                  </div>
                  <div class="cat-cap">
                    <h5><a href="#">{{ coach.userFirstName }} {{ coach.userLastName }}</a></h5>
                    <p>{{ coach.userDescription }} </p>
                  </div>
                </div>

            </ng-template>
          </ng-container>

        </owl-carousel-o>

      </div>
    </div>
  </section>
  <!-- Trainers -->


  <!-- Gallery Area Start -->
  <div class="gallery-area section-padding30 ">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
            <div class="overlay">
              <div class="overlay-content">
                <h3>Muscle gaining </h3>
                <a href="#"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
            <div class="overlay">
              <div class="overlay-content">
                <h3>Muscle gaining </h3>
                <a href="#"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
            <div class="overlay">
              <div class="overlay-content">
                <h3>Muscle gaining </h3>
                <a href="#"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
            <div class="overlay">
              <div class="overlay-content">
                <h3>Muscle gaining </h3>
                <a href="#"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery5.png);"></div>
            <div class="overlay">
              <div class="overlay-content">
                <h3>Muscle gaining </h3>
                <a href="#"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
          <div class="box snake mb-30">
            <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery6.png);"></div>
            <div class="overlay">
              <div class="overlay-content">
                <h3>Muscle gaining </h3>
                <a href="#"><i class="ti-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gallery Area End -->


  <!-- Pricing -->
  <section class="pricing-area section-padding40 fix">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-tittle text-center mb-55 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
            <h2>Tarification</h2>
          </div>
        </div>
      </div>
      <div class="row">

        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let offer of offers">
            <ng-template carouselSlide >

              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="properties mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="properties__card">
                    <div class="about-icon">
                      <img src="assets/img/icon/price.svg" alt="">
                    </div>
                    <div class="properties__caption">
                      <span class="month">offer.offerPeriod</span>
                      <p class="mb-25">offer.offerPrice</p>

                      <div class="single-features">
                        <div class="features-icon">
                          <img src="assets/img/icon/check.svg" alt="">
                        </div>
                        <div class="features-caption">
                          <p>Free riding </p>
                        </div>
                      </div>

                      <div class="single-features">
                        <div class="features-icon">
                          <img src="assets/img/icon/check.svg" alt="">
                        </div>
                        <div class="features-caption">
                          <p>Unlimited equipments</p>
                        </div>
                      </div>

                      <div class="single-features">
                        <div class="features-icon">
                          <img src="assets/img/icon/check.svg" alt="">
                        </div>
                        <div class="features-caption">
                          <p>Personal trainer</p>
                        </div>
                      </div>

                      <div class="single-features">
                        <div class="features-icon">
                          <img src="assets/img/icon/check.svg" alt="">
                        </div>
                        <div class="features-caption">
                          <p>Weight losing classes</p>
                        </div>
                      </div>

                      <div class="single-features mb-20">
                        <div class="features-icon">
                          <img src="assets/img/icon/check.svg" alt="">
                        </div>
                        <div class="features-caption">
                          <p>Month to mouth</p>
                        </div>
                      </div>

                      <a href="#" class="border-btn border-btn2">Join Now</a>
                    </div>
                  </div>
                </div>
              </div>

            </ng-template>
          </ng-container>

        </owl-carousel-o>
      </div>
    </div>
  </section>
  <!-- Pricing -->


  <!--? About Area-2 Start -->
  <section class="about-area2 fix pb-padding pt-50 pb-80">
    <div class="support-wrapper align-items-center">
      <div class="right-content2">
        <!-- img -->
        <div class="right-img wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
          <img src="assets/img/gallery/about.png" alt="">
        </div>
      </div>
      <div class="left-content2">
        <!-- section tittle -->
        <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
          <div class="front-text">
            <h2 class="">About Me</h2>
            <p>You’ll look at graphs and charts in Task One, how to approach the task and the language needed
              for a successful answer. You’ll examine Task Two questions and learn how to plan, write and
              check academic essays.</p>
            <p class="mb-40">Task One, how to approach the task and the language needed for a successful answer. You’ll
              examine Task Two questions and learn how to plan, write and check academic essays.</p>
            <a href="#" class="border-btn">My Courses</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Area End -->


  <!-- video_start -->
  <div class="video-area section-bg2 d-flex align-items-center"  data-background="assets/img/gallery/video-bg.png">
    <div class="container">
      <div class="video-wrap position-relative">
        <div class="video-icon" >
          <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- video_end -->


  <!-- Contact informations -->
  <section class="services-area">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <svg xmlns="http://www.w3.org/2000/svg" height="55" width="55" viewBox="0 0 384 512"><path fill="#FF0000" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
            <div class="features-caption">
              <h3>Adresse</h3>
              <p>Avenue Habib Karma Nabeul 8000 </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">

            <svg xmlns="http://www.w3.org/2000/svg" height="55" width="55" viewBox="0 0 384 512"><path fill="#FF0000" d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64H80V384H304V64z"/></svg>

            <div class="features-caption">
              <h3>Téléphone</h3>
              <p>(+216) 25 944 019</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
          <div class="single-services mb-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
            <svg xmlns="http://www.w3.org/2000/svg" height="55" width="55" viewBox="0 0 512 512"><path fill="#FF0000" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
            <div class="features-caption">
              <h3>Adresse e-mail</h3>
              <p>alaeddine.gannar&#64;esprit.tn</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
